@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/Lifehack Medium.otf"), url("../fonts/Lifehack Medium.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/Gagalin/Gagalin-Regular.otf"), url("../fonts/Gagalin/Gagalin-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UbuntuMedium';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf"), url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UbuntuLight';
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf"), url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 768px) {
  html {
    font-size: 14px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 13px; } }

ul {
  padding: 0; }

.section-title {
  margin: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  height: 100%;
  font-family: UbuntuLight;
  font-size: 0.875rem; }

.wrapper {
  height: 100vh;
  width: 100%; }

.container {
  height: 100%;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .container {
      padding: 1%; } }

.section {
  height: 100%;
  width: 100%;
  min-height: 40.625rem; }

.section-title {
  font-family: Gagalin;
  font-size: 4.5rem;
  font-weight: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons/icomoon.eot?banbs4");
  src: url("../fonts/icons/icomoon.eot?banbs4#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?banbs4") format("truetype"), url("../fonts/icons/icomoon.woff?banbs4") format("woff"), url("../fonts/icons/icomoon.svg?banbs4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-vk:before {
  content: "\e900";
  color: #fff; }

.icon-twitter:before {
  content: "\e901";
  color: #fff; }

.icon-sauce:before {
  content: "\e902";
  color: #e35028; }

.icon-salad:before {
  content: "\e903";
  color: #8bc03f; }

.icon-phone:before {
  content: "\e904";
  color: #e45028; }

.icon-natural:before {
  content: "\e905";
  color: #8bc03f; }

.icon-meat:before {
  content: "\e906";
  color: #e35028; }

.icon-map-marker .path1:before {
  content: "\e907";
  color: #e45028; }

.icon-map-marker .path2:before {
  content: "\e908";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path3:before {
  content: "\e909";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path4:before {
  content: "\e90a";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path5:before {
  content: "\e90b";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path6:before {
  content: "\e90c";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path7:before {
  content: "\e90d";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path8:before {
  content: "\e90e";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path9:before {
  content: "\e90f";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path10:before {
  content: "\e910";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path11:before {
  content: "\e911";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path12:before {
  content: "\e912";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path13:before {
  content: "\e913";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path14:before {
  content: "\e914";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path15:before {
  content: "\e915";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path16:before {
  content: "\e916";
  margin-left: -0.796875em;
  color: white; }

.icon-map-marker .path17:before {
  content: "\e917";
  margin-left: -0.796875em;
  color: white; }

.icon-kkal:before {
  content: "\e918";
  color: #fff; }

.icon-inst:before {
  content: "\e919";
  color: #fff; }

.icon-hand:before {
  content: "\e91a";
  color: #f9b43b; }

.icon-fb:before {
  content: "\e91b";
  color: #fff; }

.icon-cucumber:before {
  content: "\e91c";
  color: #8bc03f; }

.icon-cheese:before {
  content: "\e91d";
  color: #f9b43b; }

.icon-burger:before {
  content: "\e91e";
  color: #fff; }

.icon-buns:before {
  content: "\e91f";
  color: #f9b43b; }

.icon-beef:before {
  content: "\e920";
  color: #e35028; }

.icon-arrow-scroll:before {
  content: "\e921";
  color: #fff; }

.btn {
  display: inline-block;
  border: 0;
  border-radius: 0.3125rem;
  background-color: #e45028;
  padding: 0.625rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600; }
  .btn:focus {
    outline: 0; }

.btn__link {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600; }

.btn__black {
  color: #fff;
  text-transform: uppercase;
  background: #272727;
  float: left; }

.btn_transparent {
  background: transparent; }

#fp-nav {
  top: 150px !important;
  right: 100px; }
  #fp-nav span {
    background: transparent !important; }
  @media screen and (max-width: 768px) {
    #fp-nav {
      display: none !important; } }
  #fp-nav ul {
    display: block;
    list-style-type: disc;
    background: transparent !important; }
  #fp-nav a:hover:before, #fp-nav a.active::before {
    width: 16px;
    height: 16px; }
  #fp-nav a::before, #fp-nav a::after {
    border: 1px solid #fff !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 50%; }
  #fp-nav a::after {
    width: 6px;
    height: 6px;
    background-color: #fff !important; }

.mob-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f3234;
  z-index: 100000000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1; }
  .mob-menu_active {
    top: 0%;
    opacity: 1; }
  .mob-menu__item {
    list-style: none;
    text-align: center; }
    .mob-menu__item:last-child .mob-menu__link:after {
      content: none; }
  .mob-menu__link {
    position: relative;
    display: inline-block;
    width: 100%;
    color: #FFF;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-decoration: none; }
    .mob-menu__link:after {
      content: ' ';
      position: absolute;
      display: inline-block;
      width: 4px;
      height: 4px;
      bottom: 0;
      left: 50%;
      border-radius: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: #fff; }
  .mob-menu__close {
    position: absolute;
    top: 5%;
    right: 5%; }

.modal {
  position: absolute;
  /* Stay in place */
  z-index: 100000000001;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */ }
  .modal__wrap {
    width: 30%;
    z-index: 1000000000002;
    opacity: 1;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    position: relative;
    margin: 0 auto;
    top: 25%; }
  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px; }
  .modal__content .reviews__text, .modal .reviews__title {
    color: black !important; }

.section_welcome {
  background-image: url("../img/welcome-bg.jpg");
  background-size: cover; }

.welcome-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* border: rem(1px) solid red; */
  padding: 0.75rem; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-family: UbuntuMedium;
  font-size: 0.8125rem; }

.menu__list {
  color: #fff;
  list-style: disc;
  display: inline-block;
  vertical-align: middle; }
  @media screen and (max-width: 768px) {
    .menu__list {
      display: none; } }

.menu__item {
  padding-right: 1.875rem;
  float: left; }

.menu__item:first-child {
  list-style: none; }

.menu__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.mobile-menu {
  display: none; }
  @media screen and (max-width: 768px) {
    .mobile-menu {
      vertical-align: middle;
      position: relative;
      height: 22px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      cursor: pointer; } }

.mobile-menu__link, .mobile-menu__link:before, .mobile-menu__link:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }

.mobile-menu__link:before, .mobile-menu__link:after {
  content: "";
  display: block;
  position: absolute; }

.mobile-menu__link:before {
  top: 0; }

.mobile-menu__link:after {
  bottom: 0; }

.welcome-content {
  height: 100%;
  width: 100%;
  /* border: rem(2px) solid blue; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .welcome-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }

.welcome-content__left {
  /* border: rem(1px) solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.welcome-content__right {
  /* border: rem(1px) solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .welcome-content__right {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.section-title_welcome {
  color: #f9b43b; }

.welcome-content__description {
  margin: 0;
  font-family: Lifehack;
  color: #fff;
  font-size: 4.0625rem;
  font-weight: normal; }
  @media screen and (max-width: 768px) {
    .welcome-content__description {
      text-align: center; } }

.section__arrow-link {
  display: block;
  margin-bottom: 3.125rem; }

.section_best {
  background-image: url("../img/best-bg.png");
  background-size: cover; }

.section-title_best {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px; }

.best__title {
  font-family: Lifehack;
  color: #000;
  font-size: 1.5rem;
  margin: 5%; }
  @media screen and (max-width: 480px) {
    .best__title {
      margin: 0; } }

.container_best {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .features {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: center; }
  .features__item--natural {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .features__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      text-align: left;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.fetures__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  margin-bottom: 23px; }
  @media screen and (max-width: 480px) {
    .fetures__icon {
      width: 200px;
      margin-right: 20px; } }

.section_team {
  background: url("../img/team-bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.section-title_team {
  color: #f9b43b;
  text-align: left;
  margin-top: 5.9375rem; }
  @media screen and (max-width: 768px) {
    .section-title_team {
      font-size: 5.125rem;
      text-align: center;
      margin-top: 39%; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .section-title_team {
      font-size: 4rem;
      text-align: center;
      margin-top: 10%; } }

.container_team {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93); }
  @media screen and (max-width: 768px) {
    .container_team {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.team__content {
  width: 65%;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .team__content {
      width: 100%; } }

.team-acco {
  height: 100%;
  margin-top: 2.5rem; }
  @media screen and (max-width: 768px) {
    .team-acco {
      margin-top: 3.125rem; } }
  @media screen and (max-width: 480px) {
    .team-acco {
      margin-top: 20%; } }

.team-acco__item {
  margin-bottom: 2rem;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .team-acco__item {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 2.1875rem; } }
  @media screen and (max-width: 480px) {
    .team-acco__item {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

@media screen and (max-width: 768px) {
  .team-acco__item--active {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.team-acco__pic {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  background-color: #f9b43b;
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%; }

.team-acco__trigger {
  font-family: Gagalin;
  font-size: 0.875rem;
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap; }
  @media screen and (max-width: 480px) {
    .team-acco__trigger {
      font-size: 25px; } }
  @media screen and (max-width: 768px) {
    .team-acco__trigger {
      font-size: 25px; } }
  .team-acco__trigger:before {
    content: "";
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0px;
    margin-right: 5px; }

.team-acco__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%;
  padding-left: 20px;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .team-acco__text {
      padding: 0;
      font-size: 1rem;
      width: 90%;
      padding-top: 20px; } }

.team-acco__content {
  padding: 15px;
  display: none; }

.team-acco__item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .team-acco__item--active .team-acco__trigger {
    color: #f9b43b; }
    .team-acco__item--active .team-acco__trigger:before {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  @media screen and (max-width: 768px) {
    .team-acco__item--active {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 1rem; } }
  .team-acco__item--active .team-acco__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    @media screen and (max-width: 768px) {
      .team-acco__item--active .team-acco__content {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }

.team-acco__text-title {
  font-weight: 600; }

.team-acco__text-content {
  padding: 0;
  margin: 0;
  line-height: 1.7; }
  @media screen and (max-width: 768px) {
    .team-acco__text-content {
      margin-top: 1rem; } }

.section_menu {
  background: url("../img/menu1.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.section-title_menu {
  color: #fff;
  text-align: left;
  position: absolute;
  top: 90px;
  left: 95px; }
  @media screen and (max-width: 768px) {
    .section-title_menu {
      left: 35px; } }
  @media screen and (max-width: 480px) {
    .section-title_menu {
      font-size: 4rem;
      top: 45px;
      left: 58px; } }

.menu-acco {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 71%;
  margin: 0; }
  @media screen and (max-width: 768px) {
    .menu-acco {
      width: 100%;
      max-width: 100%; } }
  @media screen and (max-width: 480px) {
    .menu-acco {
      width: 100%;
      max-width: 100%; } }

.menu-acco__item {
  height: 100%;
  position: relative;
  list-style: none; }

.menu-acco__trigger {
  display: inline-block;
  height: 100%;
  width: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }

.menu-acco__trigger-text {
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  position: absolute;
  top: 98%;
  left: 50%;
  color: #fff;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  margin-top: -45px;
  text-decoration: none;
  font-size: 40px;
  color: #fff;
  font-family: Gagalin;
  white-space: nowrap; }

.menu-acco__content {
  width: 0;
  overflow: hidden; }

.menu-acco__item_active .menu-acco__content {
  background-color: rgba(47, 50, 52, 0.929);
  width: calc(100% - 80px);
  height: 100%;
  float: right;
  overflow: hidden; }

.menu-acco__item_active .menu-acco__trigger-text {
  color: #f9b43b; }

.menu-acco__desc {
  color: #fff;
  padding: 35px;
  line-height: 1.7;
  margin-top: 10px; }
  @media screen and (max-width: 768px) {
    .menu-acco__desc {
      font-size: 1rem; } }
  @media screen and (max-width: 480px) {
    .menu-acco__desc {
      line-height: 1.9;
      margin-top: 5px; } }

.section_reviews {
  height: 100%;
  min-height: 40.625rem; }

.container_reviews {
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .container_reviews {
      padding: 0; } }

.reviews__list {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  list-style: none; }

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  height: 50%;
  min-height: 20.3125rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%;
      height: 25%;
      min-height: 15.625rem; } }
  @media screen and (max-width: 480px) {
    .reviews__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.reviews__item:hover .reviews__photo {
  -webkit-filter: brightness(40%) grayscale(100%);
  filter: brightness(40%) grayscale(100%); }

.reviews__item:hover .reviews__info {
  opacity: 1; }

.reviews__photo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-position: center; }

.reviews__info {
  padding: 3.125rem 1.25rem;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 10; }
  @media screen and (max-width: 768px) {
    .reviews__info {
      text-align: center;
      width: 100%; } }

.reviews__title {
  font-family: Gagalin;
  font-size: 0.875rem;
  text-align: left;
  color: #fff;
  margin-bottom: 0.625rem; }
  @media screen and (max-width: 768px) {
    .reviews__title {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .reviews__title {
      font-size: 1.75rem;
      text-align: center; } }

.reviews__text {
  color: #fff;
  overflow: hidden;
  max-height: 12.5rem;
  margin-bottom: 0.625rem; }
  @media screen and (max-width: 480px) {
    .reviews__text {
      display: none; } }

@media screen and (max-width: 768px) {
  .reviews__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.section_order {
  background: url("../img/order-bg.jpg") center center no-repeat;
  background-size: cover; }

.container_order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

.section-title_order {
  color: #f9b43b;
  text-align: center; }

.order-form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .order-form__wrap {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 70%;
      margin: 0 auto; } }

.order-form__col {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .order-form__col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.order-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .order-form__row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.order-form__label-wrap {
  padding: 0 10px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 15px; }
  @media screen and (max-width: 480px) {
    .order-form__label-wrap--floor {
      display: none; } }

.order-form__radio {
  cursor: pointer;
  margin: 5px;
  margin-left: 10px; }

.order-form__lebel {
  text-align: left;
  font-family: 'UbuntuLight';
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 5px; }

.order-form__radio-title {
  display: inline-block;
  color: #fff;
  font-family: 'UbuntuLight';
  font-size: 0.875rem;
  -webkit-transform: translate(0, -20%);
  -ms-transform: translate(0, -20%);
  transform: translate(0, -20%); }

.order-form__input, .order-form__textarea {
  width: 100%;
  border-width: 1px;
  border-color: #d1cfcb;
  border-style: solid;
  border-radius: 5px;
  padding: 8px;
  font-size: 0.875rem; }

.order-form__textarea {
  resize: none;
  height: 110px;
  padding-left: 0; }

.order-form__radio-elem {
  position: absolute;
  visibility: hidden; }

.order-form__radio-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #fff; }

.order-form__radio-fake {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff; }

.order-form__btn-group {
  margin: 10px; }

.order-form__radio-fake:after {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #e45028;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0; }

.order-form__radio-elem:checked + .order-form__radio-fake:after {
  opacity: 1; }

.order-form__radio_checkbox .order-form__radio-elem + .order-form__radio-fake:after {
  background: url(../icons/check.svg);
  color: #e45028;
  background-size: 140%;
  background-position: center; }

.order-form__radio_checkbox .order-form__radio-elem + .order-form__radio-fake {
  border-radius: 0px; }

.success {
  text-align: right;
  color: green; }

.error {
  text-align: right;
  color: red; }

.section_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

#map2 {
  width: 100%;
  height: 100%;
  padding-bottom: 60px; }

.footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: #2f3234; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 100px;
      margin-top: -100px;
      text-align: center; } }
  .footer__adress {
    color: #fff; }
  .footer__phone {
    color: #e45028;
    font-weight: 600; }
  .footer__contacts {
    padding: 5px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .footer__container {
    height: 100%;
    max-width: 940px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (max-width: 480px) {
      .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .footer__icon {
    padding: 10px; }

.section_slider {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #f9b43b), color-stop(50%, #eb8d38), color-stop(80%, #f9b43b));
  background: -webkit-linear-gradient(bottom, #f9b43b 20%, #eb8d38 50%, #f9b43b 80%);
  background: -o-linear-gradient(bottom, #f9b43b 20%, #eb8d38 50%, #f9b43b 80%);
  background: linear-gradient(to top, #f9b43b 20%, #eb8d38 50%, #f9b43b 80%); }

.section-title__slider {
  color: #fff;
  text-align: left;
  line-height: 1.2; }
  @media screen and (max-width: 768px) {
    .section-title__slider {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .section-title__slider {
      font-size: 3.75rem; } }

.container_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.composition {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer; }
  .composition:hover .composition__drop {
    opacity: 1;
    top: 0; }
  .composition__text {
    font-family: Gagalin;
    color: #fff;
    font-size: 0.875rem; }
  .composition__btn {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background-color: rgba(255, 80, 40, 0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .composition__btn .icon-burger {
      font-size: 40px; }
  .composition__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .composition__drop {
    position: absolute;
    left: 90px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 20px;
    top: -1000px;
    opacity: 0;
    -webkit-transition: opacity 1.3s;
    -o-transition: opacity 1.3s;
    transition: opacity 1.3s; }
  .composition__table-td {
    padding: 5px; }
    .composition__table-td .icon {
      font-size: 30px; }

.slider {
  position: relative;
  min-height: 475px;
  width: 100%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .slider {
      height: 100%;
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .slider {
      width: 100%;
      height: 100%;
      min-width: 380px; } }
  .slider__list {
    height: 50%;
    width: 90%;
    margin: 0 auto;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .slider__list {
        height: 100%; } }
  .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .slider__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media screen and (max-width: 480px) {
      .slider__item {
        padding: 0; } }
  .slider__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    float: left;
    width: 50%;
    height: 100%;
    padding: 15px; }
    @media screen and (max-width: 768px) {
      .slider__col {
        height: 40%;
        min-width: 400px; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .slider__col {
      width: 80%;
      min-width: 80%;
      max-height: 300px; } }
    @media screen and (max-width: 768px) {
      .slider__col_right {
        width: 70%;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        max-height: 500px; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .slider__col_right {
      max-height: 500px; } }
  .slider__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    margin: 0 auto; }
  .slider__text {
    font-size: 0.875rem;
    line-height: 2;
    color: #fff;
    text-align: left; }
    @media screen and (max-width: 768px) {
      .slider__text {
        text-align: center;
        font-size: 1rem; } }
  .slider__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .slider__info .btn {
      -ms-flex-item-align: end;
      align-self: flex-end; }
    @media screen and (max-width: 768px) {
      .slider__info {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  .slider__price {
    color: #e45028;
    font-size: 1.5rem;
    font-family: 'Gagalin';
    margin-right: 20px; }
  .slider__price span {
    color: #e45028;
    font-size: 4.5rem;
    font-family: 'Gagalin';
    line-height: 1; }
  .slider__arrow_left {
    left: 25px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .slider__arrow_right {
    right: 25px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.hamburger-kkal {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  padding-top: 30px;
  opacity: 0.5; }
  .hamburger-kkal .icon-kkal {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    font-size: 60px; }
  .hamburger-kkal__num {
    position: relative;
    font-family: 'Gagalin';
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center; }
  .hamburger-kkal__text {
    text-align: center;
    position: relative;
    font-family: 'Gagalin';
    color: #fff;
    font-size: 14px; }
  @media screen and (max-width: 768px) {
    .hamburger-kkal {
      left: auto;
      bottom: auto;
      right: 0;
      top: 0; } }

.composition__table {
  text-align: left; }

.icon__drop {
  font-size: 2.5rem; }

.icon-buns {
  font-size: 1.875rem; }

.fp-controlArrow {
  width: 30px !important;
  height: 30px !important;
  text-decoration: none;
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 100;
  font-size: 20px;
  border: none !important; }

.fp-next {
  background: url("../icons/arrow-scroll.svg");
  -webkit-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
  background-repeat: no-repeat; }

.fp-prev {
  background: url("../icons/arrow-scroll.svg");
  -webkit-transform: rotate(90deg) !important;
  -ms-transform: rotate(90deg) !important;
  transform: rotate(90deg) !important;
  background-repeat: no-repeat; }

/*# sourceMappingURL=main.css.map */