.btn {
	display: inline-block;
	border: 0;
    border-radius: rem(5px);
	background-color: #e45028;
	padding:rem(10px);
    transition: 0.3s;
    color: #FFF;
	text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    &:focus {
       
        outline: 0;
    }
    }
    


	
	.btn__link{
	color: #FFF;
	text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
	}

	.btn__black{
    color:#fff;
    text-transform: uppercase;
    background: rgb(39, 39, 39);
    float: left;
    }
    
    .btn_transparent{
    background: transparent;
	}

#fp-nav {
    top: 100px !important;
    right: 100px;
    & span{
        background: transparent !important;
    }
     
    @include tablets{
        display: none !important;
    }

    ul {
        display: block;
        list-style-type: disc;
        background: transparent !important;
    }
   
    a { 
        &:hover:before, &.active::before{
            width: 16px;
            height: 16px;
        }

        &::before, &::after {
            border: 1px solid #fff !important;
            transition: 0.3s;
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) !important;
            border-radius: 50%;
        }

        &::after {
            width: 6px;
            height: 6px;
            background-color: #fff !important;
        }
    }
}






    .mob-menu{
        // display: none;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -100%;
        left:0;
        width: 100%;
        height: 100%;
        background-color: #2f3234;
        z-index: 100000000000;
        transition: 0.3s;
        opacity: 1;
        &_active{
            top:0%;
            opacity: 1;
        }
        &__item{
            list-style: none;
            text-align: center;
           &:last-child{
            .mob-menu__link{
                &:after{
                  content: none;  
                }
            }
           } 
        }

        &__link{
            position: relative;
            display: inline-block;
            width: 100%;
            color: #FFF;
            padding: 20px;
            text-transform: uppercase;
            font-size: rem(24px);
            line-height: rem(24px);
            text-decoration: none;
            &:after{
                content: ' ';
                position: absolute;
                display: inline-block;
                width: 4px;
                height: 4px;
                bottom: 0;
                left:50%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                background-color: #fff;
            }
        }

        &__close{
          position: absolute;
          top: 5%;
          right: 5%; 
        }
    }

